.pr20{
	padding-right:20px;
}
.clear{
    clear: both;
}
.left{
    float:left;
}
.right{
    float: right;
}
.i_b{
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.animate-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity:1;
}
.animate-show.ng-hide{
	opacity:0;
}