html, body{
    font: 500 14px/1.8 'Optima', 'Verdana', 'Microsoft Yahei', sans-serif;
    letter-spacing: 0.07em;
}
*{
    outline:none;
}
@footerHeight: 60px;
@deeper_background:#556270;
@lighter_background: #c8c9c7;
body{
    background:@lighter_background;
}
.wrap{
    margin: 60px auto 120px;
    width: 1120px;
    padding: 0 80px;
    background: #fff;
    transition:0.3s;
}
.container{
    width: 960px;
}
.main{
    padding-top:50px;
    // margin-bottom:60px;
}
header, footer{
    position: relative;
    left: -80px;
    width:1120px;
    margin:0 auto;
    padding: 40px 80px 70px;
    background: @deeper_background;
    a{
        color: #e5e5e5;
        &:hover{ color: #fff }
    }
}
nav{
    margin: 13px 0 23px;
    position: relative;
}
nav li{
    margin: 0 20px 0 0;
    display: inline-block;
    *display: inline;
    *zoom:1;
}
@media all and (max-width: 1120px){
    .wrap {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        overflow-x: hidden;
    }
    header, footer{
        width: 100%;
        left:0;
    }
}
@media all and (max-width: 767px) and (min-width: 480px){
    header{
        padding-top:30px;
        padding-bottom: 10px;
    }
    .container{
        width: 440px;
    }
}
@media all and (max-width: 767px){
    header, footer{
        padding-left: 0;
        padding-right: 0;
        left: 0;
    }
}
@media all and (max-width: 479px){
    .container{
        padding: 0;
        width: 280px;
    }
}
.header-form{
    position: absolute;
    right:200px;
    opacity:1;
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:1;
}
.header-form.ng-hide {
  opacity:0;
}
.header-form.ng-hide-add, .header-form.ng-hide-remove {
  display:block!important;
}
.form-input{
    background:none;
    margin: 0px 0 20px 0;
    width: 176px;
    padding: 9px 12px;
    border: 1px solid #d8d8d8;
    color:#fff;
    font: 12px Helvetica, Arial, Tahoma, sans-serif;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.article_title_link{
    background:#fff;
    padding: 0 50px;
    display:inline-block;
    font-size:32px;
    &:hover{
        color: #333;
    }
}
.head-line{
    width:100%;
    text-align: center;
    background: url(../images/bg-headline.png) 0 50% repeat-x;
}
.article_content{
    margin-bottom: 50px;
    padding:0 48px;
}





.page_content{
    padding-top: 20px;
}


.navbar-inverse .navbar-brand{
    color:#fff;
    font-family: zeroes;
    font-size:26px;
}
/* 为了避免angular model加载时{{}}显示 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[class^="icon-"], [class*=" icon-"]{
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
// Markdown编辑器操作按钮
.icon-bold {
    background-position: -167px -48px;
}
.icon-italic {
    background-position: -192px -48px;
}
.icon-link {
    background-position: 0 0;
}
.icon-picture {
    background-position: -456px -48px;
}
.icon-share-alt {
    background-position: -336px -96px;
}
.post_wrap{
    width:85%;
    margin:0 auto;
}
#wmd-help-button-0{
    display:none;
}
textarea.wmd-input{
    resize:none;
}
