html, body{
    height:100%;
    font-family: proxima-nova,sans-serif;
}
@footerHeight: 60px;
#wrap{
    min-height: 100%;
    height: auto;
    margin-bottom: -@footerHeight;
}
.main{
    padding-top:50px;
    // margin-bottom:60px;
}
.footer{
    height: @footerHeight;
    border-top: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.page_content{
    padding-top: 20px;
}
.navbar-inverse .navbar-brand{
    color:#fff;
    font-family: zeroes;
    font-size:26px;
}
/* 为了避免angular model加载时{{}}显示 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[class^="icon-"], [class*=" icon-"]{
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
// Markdown编辑器操作按钮
.icon-bold {
    background-position: -167px -48px;
}
.icon-italic {
    background-position: -192px -48px;
}
.icon-link {
    background-position: 0 0;
}
.icon-picture {
background-position: -456px -48px;
}
.icon-share-alt {
    background-position: -336px -96px;
}

.post_wrap{
    width:85%;
    margin:0 auto;
}
#wmd-help-button-0{
    display:none;
}
textarea.wmd-input{
    resize:none;
}
