<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
  <![endif]-->
  <!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
    <![endif]-->
    <!--[if IE 8]>
    <html class="no-js lt-ie9">
      <![endif]-->
      <!--[if gt IE 8]>
      <!-->
      <html class="no-js ng-cloak" ng-cloak ng-app="ueBlogApp" ng-controller="LayoutCtrl">
        <!--<![endif]-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>UEBlog</title>
        <meta name="description" content="">
        <base href="/">
        <meta name="fragment" content="!" />
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet/less" href="styles/main.less">
        <!-- <link rel="stylesheet" href="styles/pure.css"> -->
        <link rel="stylesheet" href="custome_lib/highlight/styles/monokai_sublime.css">
        <link rel="stylesheet/less" href="styles/base.less">
        <link rel="stylesheet/less" href="custome_lib/pagedown-bootstrap/Markdown.Editor.less">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
        <!-- endbuild -->
</head>
<body>
        <!--[if lt IE 7]>
        <p class="chromeframe">
          You are using an outdated browser.
          <a href="http://browsehappy.com/">Upgrade your browser today</a>
          or
          <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
          to better experience this site.
        </p>
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->
        <div class="wrap">
          <header>
            <div class="container">
              <div class="left_half left">
                <h1 class="logo"><a href="/">UEBLOG</a></h1>
                <nav>
                  <div class="menu-container">
                    <ul class="menu">
                      <li class="menu-item">
                        <a href="javascript:void(0)">Archive</a>
                      </li>
                      <li class="menu-item" ng-show="loginName">
                        <a href="/post/create">Post Article</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div class="right_half right">
                <div class="operate-area right">
                  <form class="header-form" id="login_form" name="login_form" novalidate ng-submit="login()" ng-show="loginShow">
                    <div class="form_item">
                      <input type="text" class="form-input mb20" name="username" ng-model="loginUser.username" placeholder="Username / Email" required ng-keyup="login($event)" />
                    </div>
                    <div class="form_item">
                      <input type="password" class="form-input" name="password" ng-model="loginUser.password" placeholder="Password" required ng-keypress="login($event)" />
                    </div>
                  </form>
                  <a class="login-user i_b v-t" href="#">{{loginName}}</a>
                  <a id="login_link" class="i_b v-t" href="#" ng-hide="loginName" ng-click="switchLoginShow()" title="Login">
                    <!-- L -->
                    <i class="fa fa-user"></i>
                  </a>
<!--                   <a id="search_link" class="i_b pr20" href="#">
                    <i class="fa fa-search"></i>
                  </a> -->
                  <a id="logout_link" class="i_b v-t pl20" href="#" ng-click="logout()" ng-show="loginName">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </header>
          <!-- End of header. -->
          <!-- <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="/">UEBLOG</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li ng-show='loginName'>
                    <a ng-href="/post">发布新博客</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li ng-hide='loginName'>
                    <a ng-href="/register">注册</a>
                  </li>
                  <li ng-hide='loginName'>
                    <a ng-href="/login">登录</a>
                  </li>
                  <li ng-show='loginName'>
                    <a ng-href="#">{{loginName}}</a>
                  </li>
                  <li ng-show='loginName' ng-click="logout()">
                    <a ng-href="#">退出</a>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->

          <!-- Add your site or application content here -->
          <div class="main" ng-view=""></div>
          <footer></footer>
        </div>
        <!-- <footer class="footer">
          <p>© Team 2014</p>
        </footer> -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
        <script src="/bower_components/less/dist/less-1.6.0.min.js"></script>
        <script src="/bower_components/jquery/jquery.js"></script>
        <script src="/bower_components/bootstrap/js/transition.js"></script>
        <script src="/bower_components/bootstrap/js/modal.js"></script>
        <script src="/bower_components/bootstrap/js/tooltip.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/custome_lib/pagedown-bootstrap/Markdown.Converter.js"></script>
        <script src="/custome_lib/pagedown-bootstrap/Markdown.Sanitizer.js"></script>
        <script src="/custome_lib/pagedown-bootstrap/Markdown.Editor.js"></script>
        <script src="/custome_lib/pagedown-bootstrap/To-Markdown.js"></script>
        <script src="/custome_lib/highlight/highlight.pack.js"></script>
        <script src="/scripts/app.js"></script>
        <script src="/scripts/services/article.js"></script>
        <script src="/scripts/services/user.js"></script>
        <script src="/scripts/services/enum.js"></script>
        <script src="/scripts/services/locale.js"></script>
        <script src="/scripts/controllers/article.js"></script>
        <script src="/scripts/controllers/layout.js"></script>
        <script src="/scripts/controllers/register.js"></script>
        <script src="/scripts/controllers/home.js"></script>
        <script src="/scripts/controllers/post.js"></script>
        <script src="/scripts/directives/article.js"></script>
        <!-- endbuild -->
  
        <script type="text/javascript">
        // 阻止#链接跳转页面顶部
        $(function(){ $(document).on('click', 'a[href="#"]', function(e){  e.preventDefault(); });});
        </script>
</body>
      </html>