<div class="post_wrap page_content">
	<form class="form-horizontal" name="post_form" novalidate ng-submit="post()">
		<div class="form-group">
	    <label for="title">标题</label>
	    <input type="text" class="form-control" id="title" ng-model="article.title" placeholder="请输入标题" required />
	  </div>
		<div class="form-group">
	    <label for="title">内容</label>
	    <textarea md-editor ng-model="article.content"></textarea>
	  </div>
		<div class="form-group">
			<button type="submit" ng-disabled="post_form.$invalid" class="btn btn-default">保存</button>
		</div>
	</form>
</div>